zmax = 2.0
zmin = -2.0
xmin = -80
xmax = 80
ymin = -15
ymax = 15
car_xmin = -5.0
car_xmax = 1.0
car_ymin = -2
car_ymax = 2
cell_size_x = 0.3
cell_size_y = 0.3
method = 3
min_point_num_10 = 10
min_h = 0.2
density_10 = 1000   
min_point_num_20 = 0 
min_point_num_30 = 0 
density_20 = 1000
density_30 = 1000
dist10 = 5
dist20 = 10
dist30 = 20   
preprocess_method = 1
confidence_ = 50