zmax = 2.0
zmin = -2.0
xmin = -20
xmax = 80
ymin = -15
ymax = 15
car_xmin = -2
car_xmax = 2
car_ymin = -1.0
car_ymax = 1.0
cell_size_x = 0.5
cell_size_y = 0.5
voxel_size = 0.1f
in_max_cluster_distance = 0.1
tolerance = 0.3f
eps_angle = 2 
cuv_angle = 3
min_cluster_size = 2
method = 2
k_search_num = 30
obj_min_z = 0.0
ground_is = 1